.home {
    padding: 100px 15px 100px 15px;
    margin: auto;
}
.search_form{
    display: none;
    margin-top: 80px;
    padding: 0 10px;
    background-color: #fff;

}
.marginn {
    margin: auto;
}

.category_title {
    font-size: 36px;
    font-weight: 600;
    color: #000;
    margin-bottom: 25px;
}


.category {
    margin-bottom: 60px;
}

.category_items {
    overflow: auto;
    display: flex;

}

.category_items::-webkit-scrollbar {
    display: none;
}

.category_item {
    width: 300px !important;
    text-align: left;
    display: inline-block;
    padding: 15px 15px 45px 15px;
    background-color: #fff;
    margin: 0 10px;
    border-radius: 10px;
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    border: 1px solid #ccc;

}

.category_item_images {
    width: 150px;
    margin: auto;
}

.category_item_title {
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    color: var(--color-secondary);
    font-family: var(--font-secondary);
    margin-bottom: 5px;
    width: 100%;
    white-space: pre-wrap;
    margin-top: 15px;
}

.category_item_description {
    font-family: var(--font-secondary);
    color: #8d8d9b;
    margin-bottom: 5px;
    width: 100%;
    white-space: pre-wrap;
}

.category_item_price {
    font-size: 24px;
    font-weight: 700;
    color: var(--color-primary);
    margin-bottom: 15px;
}

.category_item_buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    width: 90%;
    margin: auto;
    z-index: 1;
    text-align: center;
}

.category_item_button {
    background-color: var(--color-primary);
    color: #fff;
    padding: 6px;
    border-radius: 10px;
    width: 85%;
    white-space: nowrap;
}

.category_item_button:hover {
    opacity: 0.85;
    color: #fff;
}
.not_available{
    background-color: #ccc;
}

.category_item_fav-button svg {
    width: 26px;
}
#default-sidebar{
    display: block;
}
.b-nav{
    display: none;
}

@media (max-width: 480px) {
    .category_title {
        font-size: 28px;
    }
    .category_item_title{
        font-size: 18px;
    }
    .category_item_price {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .btm-nav-label{
        font-size: 12px;
    }
    .search_form{
        display: block;
    }
    .home {
        padding: 0px 15px 100px 15px;
        margin: auto;
    }
    .category_title {
        font-size: 20px;
        font-weight: 600;
        color: #000;
        margin-bottom: 25px;
    }
    #default-sidebar{
        display: none;
    }
    .b-nav{
        display: block;
    }

}


.hidden {
    opacity: 0;
    -webkit-transition: height 0.5s ease;
    -moz-transition: height 0.5s ease;
    -ms-transition: height 0.5s ease;
    -o-transition: height 0.5s ease;
    transition: height 0.5s ease;
    transition-delay: 0.2s;
}

.visible {
    opacity: 1;
    -webkit-transition: height 0.5s ease;
    -moz-transition: height 0.5s ease;
    -ms-transition: height 0.5s ease;
    -o-transition: height 0.5s ease;
    transition: height 0.5s ease;
    transition-delay: 0.2s;
}

.active {
    color: var(--color-primary);
    border-top-color: #fff;

}

.cartBtn {
    position: relative;
}

.cart_count {
    position: absolute;
    top: 0;
    background-color: var(--color-primary);
    color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    right: 50%;
}

